# Objective: EDA for the Job dataframe from the seek job postings

In [11]:
import requests
from scrapy.selector import Selector
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

In [3]:
Job = pd.read_csv('R_JobDF_Final_to_edited.csv', sep =',')

In [4]:
Job.head()

,Unnamed: 0,Job_url,Company_name,Job_title,Job_date,Contract1,Salary,Description,Job_no
0,0,https://www.seek.com.au/job/39063945?type=stan...,Talent ‚Äì Winner ‚ÄòSeek Large Recruitment Ag...,Data Analyst,NaN,NaN,120000,"['<div data-automation=""mobileTemplate"" class=...",1
1,1,https://www.seek.com.au/job/39044001?type=stan...,Premium IT Recruitment,"Data Conversion Analyst - Excel, VBA, SQL - $6...",NaN,NaN,65700,"['<div data-automation=""mobileTemplate"" class=...",2
2,2,https://www.seek.com.au/job/39045995?type=stan...,Ambition Technology,Data Visualisation Analyst,NaN,NaN,NaN,"['<div data-automation=""mobileTemplate"" class=...",3
3,3,https://www.seek.com.au/job/39033202?type=stan...,Hydrogen Group Pty Ltd,Data Analyst,NaN,NaN,NaN,"['<div data-automation=""mobileTemplate"" class=...",4
4,4,https://www.seek.com.au/job/39064335?type=stan...,NAB,NAB Technology Internship Program ‚Äì Data Ana...,NaN,NaN,NaN,"['<div data-automation=""mobileTemplate"" class=...",5

In [5]:
Job.columns

Index(['Unnamed: 0', 'Job_url', 'Company_name', 'Job_title', 'Job_date',
       'Contract1', 'Salary', 'Description', 'Job_no'],
      dtype='object')

In [6]:
Job.drop(columns ='Unnamed: 0', axis = 1, inplace = True)

In [90]:
Job.head(20);

In [65]:
Job_title_list = Job['Job_title'].values

In [66]:
Job_title_list

array(['Data Analyst',
       'Data Conversion Analyst - Excel, VBA, SQL - $60k plus super, career growth',
       'Data Visualisation Analyst', 'Data Analyst',
       'NAB Technology Internship Program ‚Äì Data Analyst',
       'Data Designer / Data Analyst', 'Commercial Data Analyst',
       'Data Analyst Contracts Administrator',
       'Japanese-speaking Junior Data Analyst',
       'Data Analyst - Asset Management Project (Immediate Start Contract Role)',
       'Data Analyst Contracts Administrator',
       'Business Analyst - Big Data', 'Data Analyst',
       'Data Analyst (M37)', 'Data Analyst', 'Data Analyst',
       'Data Analyst- MySQL', 'no title',
       'Data Governance Business Analyst', 'Data Analyst', 'no title',
       'BI Analyst - Tableau', 'Senior Data Analyst',
       'Data Analyst - Credit',
       'Technical Business Analyst - Legacy Data Project - Health',
       'Data Analyst / Game Analyst', 'no title',
       'Senior CRM Data Insights Analyst', 'SAP Reporting/Data Analyst',
       'Performance, Reporting and Data Analyst',
       'Retail Data Analyst (Graduate)', 'Data Scientist/Data Analyst',
       'Business Data Analyst', 'no title', 'Data Analyst',
       'Data Scientist/Data Analyst', 'Data Analyst', 'Data Analyst',
       'Data/Reporting Analyst', 'Senior Analyst, Data Engineer',
       'Data Scientist/Data Analyst', 'Trainee Data Analyst',
       'Data Scientist / Data Analyst', 'Master Data Analyst',
       'Senior Data Test Analyst', 'Data Analyst', 'Senior Data Analyst',
       'HRIS Systems data Analyst', 'Behaviour Data Analyst',
       'Application and Database Analyst', 'Senior Data Analyst',
       'Data Analyst - Data Mapping',
       'Data Reporting Analyst - Telco - Immediate start', 'no title',
       'Lead Data Analyst', 'no title', 'no title',
       'Data and Reporting Analyst', 'Senior Data Analyst',
       'Finance Data Analyst - 6 Month Fixed Term Contract',
       'Data Analyst', 'Senior Business Analyst - Data', 'Data Analyst',
       'Data Analyst',
       'Data Developer, Data Architect, Data Analyst, Big Data',
       'Predictive Analyst', 'Project Planner - Data Analyst',
       'Data Analyst', 'Lead Data Business Analyst',
       'Data and Insights Analyst', 'Data Analyst', 'Business Analyst',
       'Data Science Enablement Manager',
       'Senior Business Analyst Global Privacy & Data Protection',
       'no title', 'Senior Data Analyst', 'Data and Reporting Analyst',
       'Senior Finance Systems & Data Analyst | CBD | Circa $140K',
       'Business Intelligence & Reporting Advisor', 'Data Analyst',
       'Data Analyst', 'Business Intelligence & Reporting Advisor',
       'Data Analyst - Salesforce', 'Data Analyst', 'Data Analyst',
       'Data Governance Business Analyst',
       'Senior Business Analyst - Big Data', 'Data Governance Consultant',
       'Junior Report Analyst / Business Analyst',
       'Data Analyst/Campaign Developer', 'Data Analyst',
       'Graduate Data Analyst', 'Senior Data Analyst',
       'Customer Marketing Analyst', 'Technical Business Analyst',
       'Data Science Enablement Manager',
       'Data Analyst/Campaign Developer', 'Data Migration Lead',
       'CRM Data Analyst', 'Data Analyst/Campaign Developer',
       'Senior Data Test Analyst', 'Application and Database Analyst',
       'Trainee Analyst', 'no title',
       'Technical Business Analyst/ Data Analyst', 'no title',
       'Data Evaluation and Reporting Officer',
       'Reporting and Analysis Coordinator',
       'Data Governance  Senior Business Analyst',
       'Sr. Test Analyst - ETL/Datewarehouse/Data', 'Client Analyst',
       'Analyst', 'Senior Data Analyst', 'Senior Modelling Analyst',
       'Data Steward', 'Fees Reporting Analyst',
       'Data Scientist/ Insights Analyst', 'Senior Data Analyst/Modeller',
       'Market Risk Analyst',
       'Market Intelligence Analyst - 12 month contract',
       'Reporting Analyst', 'Consultant CX Data & Analytics', 'no title',
       'Reporting /Data Anlayst SAP',
       'Reporting Analyst/Technical Business Analyst',
       'Data Analyst | South East | Dynamics 365',
       'Senior Spatial Analyst', 'Reporting Analyst - PowerBI Melbourne',
       'Oracle Data Analyst (OBIEE / ODI)  -  NZ$65hr + GST',
       'Reporting Analyst', 'Digital Channel Analyst',
       'Support Analyst/Data Warehouse', 'Digital Analyst',
       'Senior Spatial Analyst', 'no title', 'Senior Data Analyst',
       'Power BI Analyst', 'no title',
       'Data Analyst I Telecommunications', 'Reporting Analyst',
       'Senior Consultant CX Data & Analytics', 'Business Analyst',
       'Business Insights Specialist - Market Insights', 'no title',
       'no title', 'Data Test Analysts',
       'Snr Business Analyst - Legal Industry!', 'Expression of Interest',
       'Performance Analyst', 'no title', 'Test Analyst',
       'BI Solutions Analyst', 'Senior Modelling Analyst', 'BI Analyst',
       'Business Analyst | Reporting & Analytics',
       'Corrections Intelligence Officer',
       'Accounts Processing and Reporting Analyst',
       'Business Reporting Analyst', 'Research Performance Analyst',
       'no title', 'Big Data - Junior Consultant',
       'Evaluation and Reporting Officer', 'Data Analyst',
       'BI Reporting Developer/Analyst', 'Business Analyst',
       'Lead Analyst - Insurance Analytics and Reporting',
       'Credit Risk Analyst', 'Director Reporting and Business Assurance',
       'BI Reporting and Analytics Developer', 'Senior BI Analyst',
       'Graduate Technical Web Analyst', 'no title', 'Campaign Analyst',
       'Senior Business Analyst - Risk', 'Technical Business Analyst',
       'Head of Research Analytics',
       'Social Market Researcher - Quantitative Analyst',
       'Consultant CX Data & Analytics', 'Analyst - Power BI',
       'Digital Data Specialist',
       'Director Reporting and Business Assurance',
       'Senior Consultant CX Data & Analytics', 'Data Migration Analyst',
       'no title', 'Senior System Administrator',
       'Research Performance Analyst', 'Research Performance Analyst',
       'Research Performance Analyst', 'no title', 'Reporting Analyst',
       'no title', 'Microsoft Business Intelligence Developer/ Analyst',
       'Business Analyst', 'no title', 'no title', 'BI Developer (OBIEE)',
       'Research Performance Analyst', 'Digital Analytics Analyst',
       'Business Analyst', 'HR Systems Analyst',
       'Director, Data Analytics', 'BI Developer/ Business Analyst',
       'Digital Insights Analyst', 'Data Scientist', 'Data SME',
       'Business Analyst', 'Risk Analyst', 'Business Analyst', 'no title',
       'Marketing Optimisation Analyst', 'Data Scientist',
       'Wholesale Pricing Analyst', 'no title',
       'Research Fellow - Immersive Analytics', 'Data Scientist',
       'Analyst', 'Data Analytics /Scientist',
       'Business Intelligence Lead', 'Tableau Developer / Analyst',
       'Wholesale Pricing Analyst', 'Data Governance Technical Lead',
       'no title', 'Research Performance Analyst',
       'Finance / Business Analyst', 'Data Analytics Technical Lead',
       'Fees Reporting Analyst', 'Senior Information Analyst', 'no title',
       'Senior Consultant - Data Science', 'IT Trainer/Data Cleanser',
       'B2C, B2B System Analyst and Programmer',
       'People and Culture Reporting Analyst', 'Pricing Analyst',
       'Digital Insights Analyst',
       'Digital Insights Analyst | Retail | DECJUBA',
       'Research Fellow - Immersive Analytics', 'Health Fund Analyst',
       'Spatial Analyst - Water Consulting Sector',
       'Multiple Data Scientists | Contract | Melbourne CBD',
       'Data Analytics Specialist', 'Campaign Analyst',
       'Research Fellow - Applied Data Science', 'Data Scientist',
       'no title', 'Instructional Designer', 'Technical Trainer',
       'Business Intelligence Developer',
       'Data Migration Specialist | South East | Dynamics 365',
       'Wholesale Pricing Analyst', 'Digital/Web Analyst',
       'M&A Analytics - Analyst to Manager',
       'Business Intelligence Analyst',
       'Microsoft Business Intelligence Developer/ Analyst', 'no title',
       'ETL/Data Migration/Data Governance/BI and Reporting Analysts',
       'Senior Analyst - Social Market Research',
       'Junior Business Analyst', 'Senior System Administrator',
       'no title',
       'Victorian Cardiac Arrest Registry (VACAR) Data Processor',
       'Senior System Administrator', 'DATA MIGRATION',
       'Research Fellow - Applied Data Science', 'Data Scientist',
       'Retail Performance Analyst Intern (Graduate)',
       'Microsoft Business Intelligence Developer/ Analyst',
       'DATA MIGRATION LEAD - MICROSOFT DYNAMICS 365 FINANCE & OPERATIO',
       'Data Migration Specialist', 'Senior Reporting Analyst',
       'Senior Analyst', 'Data Migration Specialist | South East',
       'Data Migration Specialist | South East', 'Data and GIS Manager',
       'Lead Business Analyst / Process Capability Lead - Federal Government Department',
       'no title', 'Insights Specialist - Business Sales',
       'Conversion Tester',
       'Data Warehouse Consultants / Delivery Leads (Risk & Data Governance Projects)',
       'Data Engineer - Melbourne',
       'Senior Business Analyst - Research Projects',
       'Big Data Developer', 'Informatica Data Quality Manager',
       'Information Security Analyst',
       'Project Manager - Data Experience', 'no title',
       'Commercial Delivery Manager | Data & Analytics',
       'Business Intelligence Intern / Officer',
       'Big Data Engineer / Developer', 'Data Developer',
       'Scientist - Translational Research', 'Market Research Manager',
       'Media Analyst - APS6',
       'Business Development Manager - Data Protection',
       'Learning & Development Advisor',
       'Business Analyst - Asset Management Project',
       'Contracts & Fund Manager - Health Insurance',
       'Corporate Tax Accountant - Oil industry',
       'FOUNDATION FELLOW (2 positions)',
       'Project Manager - Data Experience',
       'Business Development Manager - Retail',
       'Category Analyst - Cosmetics & Skincare',
       'Technical Business Analyst - Utilities', 'Systems Accountant',
       'Project Officer - Maritime Spatial Services',
       'Project Officer - Maritime Spatial Services',
       'Research Officer/ Postdoctoral Researcher', 'Campaign Marketer',
       'Customer Solutions Analyst',
       'Data Acquisition & Insights Manager',
       'Settlements/Data Entry Manager',
       'Project Manager | Retail | Data', 'IT Administrator',
       'Senior .NET/.NET Core Developer - DevOps & AGILE - Permanent',
       'Junior Business Analyst', 'no title',
       'Senior Developer- Investment Systems', 'Junior IT Support Role',
       'Manager Business Analytics and System Support',
       'Business Operations Manager - IT PMO',
       'Consultant Customer Data Management', 'BI Developer', 'no title',
       'BI Manager',
       'Roy Morgan Graduate Program - 2019 Mid Year Intake (Melbourne)',
       'Operations Manager', 'Payroll Specialist',
       'Head of Digital Marketing', 'Senior Business Analyst',
       'Senior Finance Business Partner | Big 4 Bank | Circa $250k',
       'Senior Finance Business Partner',
       'Junior Management Accountant | Property | St Kilda Road | $80k',
       'Operations Manager', 'Senior Integration Developer',
       'Financial Accountant', 'Zycus Trainer/ Data Cleanser',
       'Data Integration Specialist', 'Regional Quality Coordinator',
       'Business Support Officer', 'Business Intelligence Specialist',
       'Analyst', 'no title', 'Business Risk Analyst',
       'Administration Support / Sales Executive', 'ERP Project Manager',
       'Data Entry Job APS4', 'Project Officer - VPS4 equivalent',
       'Web Analytics Manager',
       'Big Data Engineer - Melbourne, Sydney or Adelaide',
       'Materials Chemist / Materials Scientist',
       'Business Development Manager - Data & Analytics/ Digital / AI / DevOps',
       'Research and Policy Coordinator',
       'Senior Software Engineer - Scientific Programming',
       'Senior Accounts Payable Specialist',
       'Senior Accounts Payable Specialist', 'Operations Analyst',
       'Senior Project Officer (Payroll)',
       'Education Development Officer', 'Senior Insights Manager',
       'National Recognition & Remuneration Manager',
       'Senior .NET/.NET Core Developer - DevOps & AGILE - Permanent',
       'Assistant Accountant',
       'Investment and Compliance Operations Officer', 'Campaign Analyst',
       'Clinical Governance Co-ordinator - Residential',
       'Scheduler - Energy', 'Business Development Manager',
       'Quality Analyst', 'Financial Analyst/Accountant',
       'Campaign Automation Specialist',
       'Coordinator Economic Development and Smart Cities',
       'Underwriter - Policy Remediation',
       'Funding Agreement Support Officer',
       'Project Manager | Retail | Data Archiving', 'Research Assistant',
       'Business Development and Research Coordinator',
       'Business Manager - Pharmacy',
       'Project Manager - Data Centre Migration', 'Analytics Team Lead',
       'Application Support Officer - Report Writer',
       'Senior Project Manager - Data Management',
       'Asset/Reliability Engineer',
       'Program Officer, Finance and Analysis',
       'Program Officer, Finance and Analysis',
       'Business Development Manager - Data', 'Part Time Cost Accountant',
       'Trade Marketing Analyst - FMCG', 'no title', 'no title',
       'Business Analyst - Service Management Systems',
       'Marketing Cloud Business Analyst', 'Marketing Assistant',
       'BI Cloud Developer', 'Senior Traffic / Transport Modeller',
       'Senior Geotechnical Engineer', 'no title',
       'Senior Research Officer (BSD.88)', 'Business Analyst',
       'Data Base Manager', 'Management Accountant',
       'GIS Professional and Data Officer', 'Project Analyst',
       'Productivity Manager', 'Product Manager', 'Payroll Specialist',
       'Finance/BA/CPA/CFA/Accounting trainer', 'Transport Planner',
       'Clinical Governance Co-ordinator - Residential', 'GIS Developer',
       'Senior Transport Planner', 'Service Intern - Energy Products',
       'Senior Manager, Data Analytics', 'no title',
       'Expressions of Interest - Transport Engineers and Strategic Transport Planners',
       'Business Analyst | Service Now', 'Marketing Coordinator',
       'ANZ Partner Sales Manager - Global Big Data Vendor',
       'Project Officer',
       'Digital Audience and Optimisation Manager | Belong',
       'Data Engineer/ AI Ops',
       'Associate Research Fellow, storEnergy Centre',
       'Security Architect', 'Data & Claims Coordinator', 'GIS Operator',
       'Data Solutions Lead', 'Power BI Developer',
       'Payroll Administrator',
       'Internal Audit - Data Analytics and Reporting Manager',
       'Interior Designer - Workplace - AutoCAD', 'no title',
       'Specialist Campaign Developer', 'Specialist Campaign Developer',
       'Technical Analyst', 'EXCITING UNDERWRITING OPPORTUNITY',
       'Senior Business Analyst - Security',
       'Accounts Receivable Officer',
       'Financial Planning & Analysis Manager',
       'Account Manager, International Data Analytics Consulting Company',
       'Chemical or Material Science', 'Software Developer',
       'Part Time Cost Accountant - Immediate start',
       'Email Marketing and Automation Coordinator',
       'Security Analyst / SIEM/SIEM Engineer',
       'Business Development and Research Coordinator',
       'Business Manager', 'no title',
       'FTIR Analytical Scientist - Department of Defence',
       'Technical Lead - Renewables', 'Procurement Specialist',
       'RESEARCH FELLOW - LEVEL A / LEVEL B', 'ServiceNow Developer',
       'Property Manager', 'Property Manager', 'Purchasing Officer',
       'Fundraising Engagement Manager',
       'Business Development Manager: Data Center Fit-Outs',
       'Marketing Specialist - National', 'Data Modeller',
       'Financial Analyst',
       'Senior .NET/.NET Core Developer - DevOps & AGILE - Permanent',
       'no title', 'Test Analyst - Supply Chain projects',
       'IT Business Analyst / Information Technology Support',
       'UX/ Digital Business Analyst',
       'Sales Manager - Lighting experience essential',
       'Agile Business Analyst', 'Training Coordinator',
       'Sales Administrator',
       'Business & Process Analyst (finance and procurement system)',
       'SQL DBA', 'Business Analyst - Emergency Services',
       'Senior .NET/.NET Core Developer - DevOps & AGILE - Permanent',
       'Senior Financial Accountant - Treasury', 'Data Reporting Officer',
       '5503 Junior Business Analyst',
       'Senior Consultant, Advanced Analytics Research & Development',
       'Electrical Estimator', 'no title', 'Senior Geotechnical Engineer',
       'Digital Insights Analyst/Client Manager', 'Commercial Accountant',
       'ServiceNow Developer/Consultant', 'Assistant Accountant',
       'Business Analyst - M24',
       'Business Development Manager - Data & Analytics/ Digital / AI / DevOps',
       'Business Intelligence Manager',
       'COORDINATOR - GLOBAL LEARNING ENGAGEMENT',
       'Machine Learning Data Scientist',
       'Scientist - Cell Line Development',
       'Media Campaign Manager | Hospitality',
       'Prospective Student Officer', 'Prospective Student Officer',
       'Key Account Manager, Melbourne', 'Bookkeeper - Finance',
       'Workplace Health & Safety Coordinator',
       'Azure Integration Developer - Melbourne',
       'Senior Project Analyst',
       'Associate Director, Ratings Analytical (Corporate Sector)',
       'Project Manager - Data',
       'Senior Analyst, Governance and Risk Transformation (GRIT)',
       'Multiple Media Vacancies APS6', 'no title',
       'Senior Software Engineer', 'Project Officer (Psychology)',
       'Project Officer (Psychology)', 'Research Officer x3', 'no title',
       'Event sales and Coordinator', 'Marketing Analyst',
       'Community Inclusion Project Manager',
       'Community Inclusion Project Manager',
       'Senior .NET/.NET Core Developer - DevOps & AGILE - Permanent',
       'Procurement Officer', 'no title',
       'Senior Technical Business Analyst',
       'Customer Service Team Supervisor', 'PROFESSIONAL SERVICES',
       'Product Strategy Consultant', 'Technical Business Analyst',
       'no title', 'Senior Data Scientist',
       'Programmer - Dimensions/IBM SPSS', 'Data Scientist',
       'Senior Business Analyst - Merchant Services',
       'Legal Technology Analyst', 'HR Systems Analyst',
       'Business Manager - Leading Electrical Wholesale Company. Eastern Metro locations',
       'Business Analyst', 'no title',
       'Quality Coordinator & Privacy Officer', 'no title',
       'Management Accountant', 'Technical Administrator', 'no title',
       'Pricing Analyst',
       'Post-Doctoral Research Fellow Neuroscience of Hearing',
       'Payroll Specialist', 'no title',
       'Operations Process Improvement Leader',
       'National Account Manager', 'Business Analyst',
       'Senior Java Developer', 'Senior Java Developer',
       'Commercial Analyst', 'Commercial Analyst',
       'Contracts Administrator | $40m Hotel Project | South - East Mel',
       'Scientist', 'Azure Big Data & Analytics Architect',
       'Commercial Insights Analyst',
       'Part Time Accountant - Immediate start', 'Business Analyst',
       'Pricing Analyst', 'Senior SAP BI Analyst', 'Business Analyst',
       'Project Management Analyst', 'Project Management Analyst',
       'Security Architect', 'no title',
       'Associate Market Research Consultant', 'Proposition Manager',
       'Project Manager',
       'Performance Analyst | $100k + Super | Melbourne CBD',
       'Postdoctoral Fellow (Biostatistician)',

In [24]:
Job.Job_title.replace(np.nan, 'no title',inplace = True)

In [15]:
#job_t = Job['Job_title']

#for it in job_t:
#    print(type(str(it)))

In [16]:
import re  
import nltk

In [17]:
restring = 'Data Conversion analyst - Excel, VBA, SQL - $6'
restring =  restring.lower()
test = re.findall('analyst',restring )
test

['analyst']

In [86]:
x='wer'
x = type(x)
x

str

In [49]:
title_string = 'data  mid level'

In [46]:
def job_title_map(title_string):
    title_string =  title_string.lower()
    clean_analyst = re.findall('analyst',title_string)
    clean_scientist = re.findall('scientist',title_string)
    clean_manager = re.findall('manager',title_string)
    
    if clean_analyst == ['analyst']:    
            return('Data Analyst')
    elif clean_scientist == ['scientist']:  
            return('Data Scientist')
    elif clean_manager == ['manager']:
            return('Data manager')
    else:                
            print('no info')

In [50]:
job_title_map(title_string)

no info

In [63]:
Entry_level_string = 'entry, trainee ,intern,graduate'
level_string = 'trainee level'
clean_Trainee = re.findall(Entry_level_string,level_string)
clean_Trainee

[]

In [67]:
Entry_level_list = ['entry','trainee','intern','graduate']
Junior_level_list = ['junior']
Mid_level_list = ['mid']
Senior_level_list = ['senior','lead']
Manager_level_list = ['Manager','manager']


def job_level_map(level_string):
    level_string =  level_string.lower()
    clean_Trainee = re.findall('trainee',level_string)
    clean_intern = re.findall('intern',level_string) 
    clean_graduate = re.findall('graduate',level_string)
    clean_entry = re.findall('entry',level_string)                                     
    clean_Junior = re.findall('junior',level_string)
    clean_mid = re.findall('mid',level_string)
    clean_senior = re.findall('senior',level_string)
    clean_lead = re.findall('lead',level_string)
    clean_manager = re.findall('manager',level_string)
        
    if ((clean_Trainee == ['trainee']) or   (clean_intern ==  ['intern']) or (clean_graduate ==  ['graduate'])
        or (clean_entry == ['entry'])):        
            return('Trainee')
    elif clean_Junior == ['junior']:  
            return('Junior')
    elif clean_mid == ['mid']:  
            return('mid')   
    elif clean_senior == ['senior']:  
            return('senior')         
    elif clean_lead == ['lead']:  
            return('lead')              
    elif clean_manager == ['manager']:
            return('manager')
    else:                
            print('no level')

In [59]:
#dfDrugFiltN.age  = dfDrugFiltN.age.map(mean_age_func)

# uncomment and run as needed
#Job['Job_title_filt'] = Job.Job_title.map(job_title_map);

In [68]:
Job['Job_level'] = Job.Job_title.map(job_level_map);

no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level
no level

In [75]:
Job['Job_title'].values;

In [ ]:
### drop all jobs where job_title is no title

In [76]:
Job =  Job[Job['Job_title'] != 'no title']

In [78]:
#  drop job date
Job.drop('Job_date', axis =1 , inplace = True)

In [79]:
Job.head()

,Job_url,Company_name,Job_title,Contract1,Salary,Description,Job_no,Job_title_filt,Job_level
0,https://www.seek.com.au/job/39063945?type=stan...,Talent ‚Äì Winner ‚ÄòSeek Large Recruitment Ag...,Data Analyst,NaN,120000,"['<div data-automation=""mobileTemplate"" class=...",1,Data Analyst,None
1,https://www.seek.com.au/job/39044001?type=stan...,Premium IT Recruitment,"Data Conversion Analyst - Excel, VBA, SQL - $6...",NaN,65700,"['<div data-automation=""mobileTemplate"" class=...",2,Data Analyst,None
2,https://www.seek.com.au/job/39045995?type=stan...,Ambition Technology,Data Visualisation Analyst,NaN,NaN,"['<div data-automation=""mobileTemplate"" class=...",3,Data Analyst,None
3,https://www.seek.com.au/job/39033202?type=stan...,Hydrogen Group Pty Ltd,Data Analyst,NaN,NaN,"['<div data-automation=""mobileTemplate"" class=...",4,Data Analyst,None
4,https://www.seek.com.au/job/39064335?type=stan...,NAB,NAB Technology Internship Program ‚Äì Data Ana...,NaN,NaN,"['<div data-automation=""mobileTemplate"" class=...",5,Data Analyst,Trainee

In [91]:
Job.Salary.replace(np.nan, 'no salary',inplace = True)

In [92]:
#JobWS - with salary
JobWS = Job[Job['Salary'] != 'no salary']

In [93]:
JobWS.head(15)

,Job_url,Company_name,Job_title,Contract1,Salary,Description,Job_no,Job_title_filt,Job_level
0,https://www.seek.com.au/job/39063945?type=stan...,Talent ‚Äì Winner ‚ÄòSeek Large Recruitment Ag...,Data Analyst,NaN,120000,"['<div data-automation=""mobileTemplate"" class=...",1,Data Analyst,None
1,https://www.seek.com.au/job/39044001?type=stan...,Premium IT Recruitment,"Data Conversion Analyst - Excel, VBA, SQL - $6...",NaN,65700,"['<div data-automation=""mobileTemplate"" class=...",2,Data Analyst,None
6,https://www.seek.com.au/job/39054921?type=stan...,Fuse Recruitment,Commercial Data Analyst,NaN,140000,"['<div data-automation=""mobileTemplate"" class=...",7,Data Analyst,None
8,https://www.seek.com.au/job/39040874?type=stan...,THE CAREER MEISTER,Japanese-speaking Junior Data Analyst,NaN,60225,"['<div data-automation=""mobileTemplate"" class=...",9,Data Analyst,Junior
9,https://www.seek.com.au/job/39036063?type=stan...,Green IT Talent Pty Ltd,Data Analyst - Asset Management Project (Immed...,NaN,108000,"['<div data-automation=""mobileTemplate"" class=...",10,Data Analyst,None
14,https://www.seek.com.au/job/38992523?type=stan...,"Department of Environment, Land, Water and Pla...",Data Analyst,NaN,90232.38,"['<div data-automation=""mobileTemplate"" class=...",15,Data Analyst,None
21,https://www.seek.com.au/job/39072189?type=stan...,FourQuarters Recruitment,BI Analyst - Tableau,NaN,140000,"['<div data-automation=""mobileTemplate"" class=...",22,Data Analyst,None
23,https://www.seek.com.au/job/38985745?type=stan...,Bluefin Resources Pty Limited,Data Analyst - Credit,NaN,100000,"['<div data-automation=""mobileTemplate"" class=...",24,Data Analyst,None
38,https://www.seek.com.au/job/38922640?type=stan...,Talent ‚Äì Winner ‚ÄòSeek Large Recruitment Ag...,Data/Reporting Analyst,NaN,156000,"['<div data-automation=""mobileTemplate"" class=...",39,Data Analyst,None
54,https://www.seek.com.au/job/38965943?type=stan...,FourQuarters Recruitment,Lead Data Analyst,NaN,170000,"['<div data-automation=""mobileTemplate"" class=...",55,Data Analyst,lead
59,https://www.seek.com.au/job/38892144?type=stan...,FutureYou,Finance Data Analyst - 6 Month Fixed Term Cont...,NaN,150000,"['<div data-automation=""mobileTemplate"" class=...",60,Data Analyst,None
61,https://www.seek.com.au/job/38978440?type=stan...,Robert Walters,Senior Business Analyst - Data,NaN,155000,"['<div data-automation=""mobileTemplate"" class=...",62,Data Analyst,senior
63,https://www.seek.com.au/job/38910940?type=stan...,Ambition Technology,Data Analyst,NaN,158400,"['<div data-automation=""mobileTemplate"" class=...",64,Data Analyst,None
67,https://www.seek.com.au/job/38992522?type=stan...,"Department of Environment, Land, Water and Pla...",Data Analyst,NaN,90232.38,"['<div data-automation=""mobileTemplate"" class=...",68,Data Analyst,None
73,https://www.seek.com.au/job/39006476?type=stan...,Robert Walters,Senior Business Analyst Global Privacy & Data ...,NaN,204000,"['<div data-automation=""mobileTemplate"" class=...",74,Data Analyst,senior

In [94]:
# filter with permanent jobs only...Contract1 = zero or NAN

JobWSP =  JobWS[JobWS['Contract1'] != 1]

In [96]:
# replace NAN with zero....all permanent
JobWSP.Contract1.replace(np.nan,0,inplace = True)

/Users/pramodpaul/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [99]:
JobWSP['Contract1'].replace(0, 'Permanent',inplace = True)

/Users/pramodpaul/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5890: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [106]:
JobWSP.head(15)

,Job_url,Company_name,Job_title,Contract1,Salary,Description,Job_no,Job_title_filt,Job_level
0,https://www.seek.com.au/job/39063945?type=stan...,Talent ‚Äì Winner ‚ÄòSeek Large Recruitment Ag...,Data Analyst,Permanent,120000,"['<div data-automation=""mobileTemplate"" class=...",1,Data Analyst,None
1,https://www.seek.com.au/job/39044001?type=stan...,Premium IT Recruitment,"Data Conversion Analyst - Excel, VBA, SQL - $6...",Permanent,65700,"['<div data-automation=""mobileTemplate"" class=...",2,Data Analyst,None
6,https://www.seek.com.au/job/39054921?type=stan...,Fuse Recruitment,Commercial Data Analyst,Permanent,140000,"['<div data-automation=""mobileTemplate"" class=...",7,Data Analyst,None
8,https://www.seek.com.au/job/39040874?type=stan...,THE CAREER MEISTER,Japanese-speaking Junior Data Analyst,Permanent,60225,"['<div data-automation=""mobileTemplate"" class=...",9,Data Analyst,Junior
9,https://www.seek.com.au/job/39036063?type=stan...,Green IT Talent Pty Ltd,Data Analyst - Asset Management Project (Immed...,Permanent,108000,"['<div data-automation=""mobileTemplate"" class=...",10,Data Analyst,None
14,https://www.seek.com.au/job/38992523?type=stan...,"Department of Environment, Land, Water and Pla...",Data Analyst,Permanent,90232.38,"['<div data-automation=""mobileTemplate"" class=...",15,Data Analyst,None
21,https://www.seek.com.au/job/39072189?type=stan...,FourQuarters Recruitment,BI Analyst - Tableau,Permanent,140000,"['<div data-automation=""mobileTemplate"" class=...",22,Data Analyst,None
23,https://www.seek.com.au/job/38985745?type=stan...,Bluefin Resources Pty Limited,Data Analyst - Credit,Permanent,100000,"['<div data-automation=""mobileTemplate"" class=...",24,Data Analyst,None
38,https://www.seek.com.au/job/38922640?type=stan...,Talent ‚Äì Winner ‚ÄòSeek Large Recruitment Ag...,Data/Reporting Analyst,Permanent,156000,"['<div data-automation=""mobileTemplate"" class=...",39,Data Analyst,None
54,https://www.seek.com.au/job/38965943?type=stan...,FourQuarters Recruitment,Lead Data Analyst,Permanent,170000,"['<div data-automation=""mobileTemplate"" class=...",55,Data Analyst,lead
59,https://www.seek.com.au/job/38892144?type=stan...,FutureYou,Finance Data Analyst - 6 Month Fixed Term Cont...,Permanent,150000,"['<div data-automation=""mobileTemplate"" class=...",60,Data Analyst,None
61,https://www.seek.com.au/job/38978440?type=stan...,Robert Walters,Senior Business Analyst - Data,Permanent,155000,"['<div data-automation=""mobileTemplate"" class=...",62,Data Analyst,senior
63,https://www.seek.com.au/job/38910940?type=stan...,Ambition Technology,Data Analyst,Permanent,158400,"['<div data-automation=""mobileTemplate"" class=...",64,Data Analyst,None
67,https://www.seek.com.au/job/38992522?type=stan...,"Department of Environment, Land, Water and Pla...",Data Analyst,Permanent,90232.38,"['<div data-automation=""mobileTemplate"" class=...",68,Data Analyst,None
73,https://www.seek.com.au/job/39006476?type=stan...,Robert Walters,Senior Business Analyst Global Privacy & Data ...,Permanent,204000,"['<div data-automation=""mobileTemplate"" class=...",74,Data Analyst,senior

In [73]:
#title = 'data analyst mid level'
#Tokenised = nltk.sent_tokenize(title)
#Tokenised
#all_words = [nltk.word_tokenize(sent) for sent in Tokenised]
#Tokenised
#for item in all_words:
#     item.replace('[','').replace(']','')
#     print(all_words)

In [107]:
JobWSP.Job_title_filt.values

array(['Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst',
       'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst',
       'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst',
       'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst',
       'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst',
       None, 'Data Analyst', 'Data Analyst', 'Data Analyst',
       'Data Analyst', 'Data Analyst', 'Data Analyst', None,
       'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Analyst',
       None, 'Data Analyst', 'Data Analyst', 'Data Analyst',
       'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Scientist',
       'Data Analyst', 'Data Analyst', None, 'Data Analyst', None, None,
       'Data manager', None, None, None, None, None, 'Data manager', None,
       None, None, None, 'Data manager', None, 'Data manager', None, None,
       None, None, None, None, None, None, None, 'Data manager',
       'Data manager', 'Data manager', 'Data manager', None, None, None,
       None, None, None, None, None, 'Data Scientist', 'Data Analyst',
       None, None, None, None, None, 'Data Analyst', 'Data Analyst',
       'Data Analyst', 'Data manager', 'Data manager', None,
       'Data Analyst', None, 'Data Analyst', 'Data Scientist',
       'Data Analyst', 'Data Analyst', 'Data Scientist', 'Data Analyst',
       'Data Analyst', None, None, None, 'Data manager', 'Data Analyst',
       None, 'Data Analyst', None, None, None, 'Data manager',
       'Data manager', None, None, 'Data manager', 'Data Analyst',
       'Data Scientist', 'Data Scientist', 'Data Scientist',
       'Data Scientist', 'Data Scientist', None, 'Data Scientist',
       'Data Scientist', None, None, None, None, None, None, None, None,
       'Data Analyst', None, 'Data Scientist', 'Data Scientist', None,
       None, None, None], dtype=object)